div {background-color:rgb(137,207,240); /*#89CFF0*/ background-size:cover; overflow:hidden;}
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #fff;
  z-index: 99;
}
#loading-image {
  z-index: 100;
}
